{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for post in featured_post %}
{% if forloop.first %}
<div class="relative inline-block w-full h-64">
    <img src="{{post.featured_image.url}}" alt="Cricket" class="absolute inset-0 w-full h-full object-cover">
    <div class="absolute inset-0 bg-black/50"></div>
    <div class="absolute inset-0 flex items-center px-4">
        <div>
            <h1 class="text-4xl italic font-bold text-white">{{ post.title }}</h1>
            <p class="text-sm text-white my-3">{{ post.short_description }}</p>
            <p class="text-white font-bold">Continue reading...</p>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
 <h1 class="text-yellow-400 text-4xl uppercase">Featured Post</h1>
 <div class="grid grid-cols-2 gap-6">
    {% for post in featured_post %}
    {% if not forloop.first %}
    <div class="">
        <h1 class="text-2xl italic font-bold">{{ post.title }}</h1>
    <small class="">{{ post.created_at | timesince }} ago | <span class="italic">by</span> {{ post.author }}</small>
    <p class="text-lg">{{ post.short_description }}</p>
    </div>
    {% endif %}
    {% endfor %}
    
 </div>
{% endblock content %}